<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <div class="tabel-container">
        <table>
            <thead>
            <tr>
                <th class="ID">ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Savings</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="ID">1</th>
                <td>Peter</td>
                <td>Griffin</td>
                <td>$100</td>
            </tr>
            <tr>
                <th class="ID">2</th>
                <td>Lois</td>
                <td>Griffin</td>
                <td>$150</td>
            </tr>
            <tr>
                <th class="ID">3</th>
                <td>Peter</td>
                <td>Griffin</td>
                <td>$100</td>
            </tr>
            <tr>
                <th class="ID">4</th>
                <td>Lois</td>
                <td>Griffin</td>
                <td>$150</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>

</html>